# Copy this file and rename to .env
# cp .env.example .env

# Application
APP_PORT=8080
APP_ENV=development

# PostgreSQL
POSTGRES_USER=arise_test
POSTGRES_PASSWORD=P@ssw0rd
POSTGRES_DB=arise_test
DB_HOST=postgres
DB_PORT=5432
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME_MIN=30
DB_CONN_MAX_IDLE_TIME_MIN=5

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_POOL_SIZE=20
REDIS_MIN_IDLE_CONNS=5
REDIS_CONN_MAX_LIFETIME_MIN=30
REDIS_CONN_MAX_IDLE_TIME_MIN=5
