# Copy this file and rename to .env
# cp .env.example .env

# Application
APP_PORT=8080
APP_ENV=development

# PostgreSQL
POSTGRES_USER=arise_test
POSTGRES_PASSWORD=P@ssw0rd
POSTGRES_DB=arise_test

# Redis
REDIS_PORT=6379
